# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/.idea.MobileTaskEditor.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Laura\RiderProjects\MobileTaskEditor\.idea\.idea.MobileTaskEditor\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
